@import "../abstracts/variables";

.heading-primary {
  font-family: $heading-font;
  font-weight: 300;
  font-size: 6rem;
  display: inline-block;
  letter-spacing: 0.2rem;
}

.heading-secondary {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.2rem;
}

.heading-tertiary {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.2rem;
}
