@import "../abstracts/variables";

.heading-primary {
  font-size: 3.5rem;
  display: inline-block;
  letter-spacing: 0.2rem;
  //   transition: all 0.2s;

  //   &:hover {
  //     transform: skewY(2deg) skewX(20deg) scale(1.1);
  //     text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
  //   }
}

.heading-secondary {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.2rem;
  //   transition: all 0.2s;

  //   &:hover {
  //     transform: skewY(2deg) skewX(20deg) scale(1.1);
  //     text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
  //   }
}

.heading-tertiary {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.2rem;
  //   transition: all 0.2s;

  //   &:hover {
  //     transform: scale(1.1);
  //     text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
  //   }
}
