// center horizontally & vertically
@mixin u-center-HV {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// center horizontally top
@mixin center-HT {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
// center horizontally bottom
@mixin center-HB {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
// center left side vertically
@mixin center-LVT {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
// center rigth side vertically
@mixin center-RVT {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
