// center horizontally & vertically
@mixin u-center-HV {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// center horizontally & vertically 40%
@mixin u-center-HV-4 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// center horizontally top
@mixin u-center-HT {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
// center horizontally bottom
@mixin u-center-HB {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
// center left side vertically
@mixin u-center-LVT {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
// center rigth side vertically
@mixin u-center-RVT {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
