// Fonts

// Colors
$base-color-1: 194;
// hsl(194 38 100 43%)
$primary-light: hsla(194, 38, 100, 100%);

// Colors
$base-color-1: 168;
$base-color-2: 120;
$base-color-3: 200;

$saturation-1: 20%;
$saturation-2: 50%;
$saturation-3: 100%;

$lightness-1: 75%;
$lightness-2: 50%;
$lightness-3: 35%;

$opacity-1: 100%;
$opacity-2: 80%;
$opacity-3: 60%;

// Gradients

// Box Shadows

// Button Shadows

// Light blue
$color-1: hsla(194, 100%, 81%, $opacity-1);
$color-2: hsla(194, 56%, 82%, $opacity-1);

// Light green
$color-3: hsla(84, 83%, 70%, $opacity-1);
$color-4: hsla(84, 92%, 85%, $opacity-1);

// Pink
$color-5: hsla(341, 90%, 77%, $opacity-1);
$color-6: hsla(0, 100%, 91%, $opacity-1);
$color-7: hsla(0, 100%, 99%, $opacity-1);

// Tan
$color-8: hsla(59, 61%, 87%, $opacity-1);
