@import "../abstracts/mixins";

.poodles {
  width: 75vw;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  &__details {
    width: 75%;
    @include u-center-HV;
    @include u-details;
  }

  &__weight {
    grid-column: 1/2;
    position: relative;
  }

  &__image {
    grid-column: 2/3;
  }

  &__life {
    grid-column: 3/4;
    position: relative;
  }

  &__temper {
    grid-column: 1 / span 3;
    @include u-details;
  }
}
