@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../components/buttons";

.home {
  background-color: $BGC-light;
  position: relative;

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }

  &__carousel {
    height: 45rem;
    width: 45rem;
    margin: 2rem auto;
    position: relative;
    transition: opacity 0.8s ease-in-out;
  }

  &__images {
    height: 45rem;
    width: 45rem;
    object-fit: cover;
    display: inline-block;
    transition: opacity 0.5s ease-in-out;

    &--side {
      opacity: 0.2;
    }

    &--prev,
    &--next {
      transform: scale(0.3);
    }
  }

  &__msg-1 {
    font-family: $sub-font;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }
}

.arrows {
  height: 6rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &--prev {
    left: -10rem;
  }
  &--next {
    left: 54rem;
  }
}

// Card picture rotate
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50rem;
  justify-content: space-between;
  gap: 10rem;
  margin: 0 5rem 3rem 5rem;
}

// Functionality
.card {
  perspective: 150rem;
  -mox-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    color: #fff;
    font-size: 2rem;
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border: 1rem solid $color-8;

    &--front {
      background-color: $color-1;
    }

    &--back {
      background-color: $color-4;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // front side styling
  &__picture {
    background-size: cover;
    width: 28rem;
    height: 26rem;
    margin: 2rem auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: url(../sass/imgs/img6.jpg);
    }
    &--2 {
      background-image: url(../sass/imgs/img17.jpg);
    }
    &--3 {
      background-image: url(../sass/imgs/img23-1.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-9;
    position: absolute;
    top: 20rem;
    right: 5rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-3, 0.85),
        rgba($color-4, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-5, 0.85),
        rgba($color-6, 0.85)
      );
    }
  }

  &__details {
    padding: 1rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        letter-spacing: 0.25rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-5;
        }
      }
    }
  }

  // back side styling
  &__cta {
    @include u-center-HV;
    text-align: center;
  }

  &__breed-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-9;

    h5 {
      font-size: 1.5rem;
      font-weight: 500;
      color: $text-black;
    }
  }

  &__breed-name {
    font-size: 2rem;
    text-transform: uppercase;
    color: $text-black;

    &--1 {
      font-size: 3.5rem;
      color: $color-5;
    }

    &--2 {
      font-size: 3.5rem;
      color: $color-1;
      font-weight: 400;
    }
  }

  &__breed-bname {
    font-size: 2.5rem;
  }
}
