@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";

.home {
  background-color: $BGC-light;
  position: relative;

  &__container {
    border: 1px solid pink;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }

  &__carousel {
    height: 45rem;
    width: 45rem;
    margin: 2rem auto;
    position: relative;
    transition: opacity 0.8s ease-in-out;
  }

  &__images {
    height: 45rem;
    width: 45rem;
    object-fit: cover;
    display: inline-block;
    transition: opacity 0.5s ease-in-out;

    &--side {
      opacity: 0.2;
    }

    &--prev,
    &--next {
      transform: scale(0.3);
    }
  }

  &__msg-1 {
    font-family: $sub-font;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }
}

// .fade {
//   opacity: 1;
//   @include fade;
// }

.arrows {
  height: 6rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &--prev {
    left: -10rem;
  }
  &--next {
    left: 54rem;
  }
}

// Card picture rotate
.row {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50rem;
  justify-content: space-between;
  gap: 10rem;
  margin: 0 5rem 3rem 5rem;
}

.card {
  perspective: 150rem;
  -mox-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    background-color: orangered;
    color: #fff;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border: 1rem solid $color-8;

    &--front {
      background-color: green;
    }

    &--back {
      background-color: orangered;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
