.litters {
  width: 75vw;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));

    &--box1 {
      height: 20rem;
      display: grid;
      justify-content: center;
      margin-top: 18rem;
    }
  }
}
