.newpups {
  font-family: $sub-font-2;
  // background-color: $color-8;

  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50rem;
    justify-content: space-between;
    gap: 10rem;
    margin: 0 5rem 3rem 5rem;
  }
}
