*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  padding: 3rem;
}

.heading-primary {
  font-size: 3.5rem;
  display: inline-block;
  letter-spacing: 0.2rem;
}

.heading-secondary {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.2rem;
}

.heading-tertiary {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.2rem;
}

.u-center-text {
  text-align: center;
}

.u-center-vh-text {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-4 {
  margin-bottom: 4rem;
}

.u-margin-bottom-3 {
  margin-bottom: 3rem;
}

.u-margin-top-3 {
  margin-top: 3rem;
}

.u-margin-top-2 {
  margin-top: 2rem;
}

.u-padding-rl-3 {
  padding: 0 3rem 0 3rem;
}

.u-center-text {
  text-align: center;
}

.u-center-vh-text {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-4 {
  margin-bottom: 4rem;
}

.u-margin-bottom-3 {
  margin-bottom: 3rem;
}

.u-margin-top-3 {
  margin-top: 3rem;
}

.u-margin-top-2 {
  margin-top: 2rem;
}

.u-padding-rl-3 {
  padding: 0 3rem 0 3rem;
}

.header {
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation {
  font-size: 1.6rem;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid blue;
}

.navigation__img {
  height: 3rem;
  width: 10rem;
}

.navigation__link {
  text-decoration: none;
  font-size: 2rem;
  color: #222121;
  display: block;
}

.navigation__links {
  list-style-type: none;
  display: inline-block;
  margin: 0 3rem;
}

.app {
  height: 100%;
  width: 100%;
}

.home {
  height: 90vh;
  background-color: #fdfdfd;
  position: relative;
}

.home__container {
  border: 1px solid pink;
  background-color: #bb7474;
}

.home__carousel {
  border: 1px solid orange;
  height: 45rem;
  width: 45rem;
  margin: 2rem auto;
}

.home__images {
  height: 45rem;
  width: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

.home__images--active {
  display: inline-block;
}

.mainContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15rem 1fr 10rem;
      grid-template-rows: 15rem 1fr 10rem;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.mainContent__footer {
  grid-column: 1/-1;
  border: 1px solid orange;
}

.mainContent__header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.mainContent__navigation {
  grid-column: 3 / -1;
  border: 1px solid yellow;
}

.mainContent__content {
  grid-column: 1/-1;
  border: 3px solid green;
}
/*# sourceMappingURL=style.css.map */