
.contactForm{
    border: 1px solid red;
    height: 50rem;

    &__container{
        border: 1px solid orange;
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}