@import "../abstracts/mixins";
@import "../base/utilities";

.header {
  height: 15rem;
  position: relative;

  &__logo {
    height: 14rem;
    width: 16rem;

    &__img {
      height: 12rem;
      width: 13rem;
      object-fit: cover;
      @include u-center-HV;
    }
  }
}
