@import "../abstracts/variables";

.navigation {
  font-size: 1.6rem;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;

  border: 1px solid blue;

  &__img {
    height: 3rem;
    width: 10rem;
  }

  &__link {
    text-decoration: none;
    font-size: 2rem;
    color: $text-black;
    display: block;
  }

  &__links {
    // border: 1px solid green;
    list-style-type: none;
    display: inline-block;
    margin: 0 3rem;
  }

  // &__links:not(:last-child) {
  //   margin: 0 3rem;
  // }

  &__menu {
    // margin: 0 4rem 2rem 0;
  }
}
