.navigation {
  font-size: 1.6rem;
  height: 100%;
  border: 1px solid red;
  display: grid;
  justify-content: end;
  align-items: end;

  &__link {
    text-decoration: none;
  }

  &__link:not(:last-child) {
    margin: 0 1rem;
  }

  &__menu {
    margin: 0 2rem 2rem 0;
  }
}
