@import "../abstracts/variables";
@import "../abstracts/mixins";

.navigation {
  font-size: 1.6rem;
  height: 100%;
  display: grid;
  justify-content: right;
  align-items: center;

  &__img {
    height: 3rem;
    width: 10rem;

    @include respond(phoneSm) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 2rem;
    color: $text-black;
    display: block;
  }

  &__links {
    list-style-type: none;
    display: inline-block;
    margin: 0 3rem;
    @include respond(phoneSm) {
      display: block;
    }
    @include respond(phone) {
      margin: 0 1rem;
      display: block;
    }
    @include respond(tab-port) {
      margin: 0 2rem;
    }
  }
}
